# Fichiers inutiles pour l'image finale
.git
.gitignore
.env
.env.*
*.py[cod]
__pycache__
*.pyc
.env
.venv
venv
.vscode

# Artefacts locaux
*.egg-info/
*.whl

# Jeux de tests et données volumineuses
/tests/
/test*.py
/db/
backup.sh

# Environnements de build secondaires
app/
venv_extract/

